/*
 * Lucie Genevey
 * 03.03.2016 
 * accueil - contenu CSS stylesheet
 *
 */

.p-txt-accueil {
	font-style: italic;
	margin-bottom: 30px;
}

.btn-position-bot {
    margin-bottom: 100px;
}



























